<section id="satellite-settings-section" class="acc">
    <h1>Satelliten-Einstellungen</h1>

    <div id="width-wrapper">
        <form #f="ngForm">
            <ul id="settings-list">
                <li>
                    <label for="antennaSettings-name">Satelliten Name</label>
                    <input class="text-input" type="text" name="antennaSettings-name"
                        [(ngModel)]="satellite.name" />
                </li>
                <li>
                    <label for="meters-above-ground">Bahnhöhe (m)</label>
                    <input class="text-input" type="number" name="meters-above-ground"
                        [(ngModel)]="satellite.pathHeight">
                </li>
                <li>
                    <div class="coord-wrapper acr">
                        <div class="coord-container">
                            <label for="lat">Latitude</label>
                            <input class="text-input" type="number" name="lat" [(ngModel)]="satellite.coord.lat">
                        </div>
                        <div class="coord-container">
                            <label for="long">Longitude</label>
                            <input class="text-input" type="number" name="long" [(ngModel)]="satellite.coord.long">
                        </div>
                    </div>
                </li>
            </ul>
        </form>
        <button class="btn-std" (click)="save()">
            <h2>Settings speichern <fa-icon [icon]="saveIcon"></fa-icon></h2>
        </button>
    </div>

</section>