#home-section {
  margin: 100px 0px;
}
#important-infos-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
  max-width: max-w-3;
}
.important-info-item {
  width: calc(100% - 18px * 2 - 18px * 2);
  margin: 18px;
  padding: 18px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
}
.important-info-item h2,
p,
h1 {
  text-align: left;
}
.important-info-item p {
  max-width: 500px;
  margin: 18px 0px;
}
.btn-std.show-large-graphs {
  margin-top: 100px;
}
#graph-list {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.chart-item {
  width: calc(50% - 18px * 2);
  margin: 100px 18px;
}
.chart-item.large {
  width: calc(100% - 18px * 2);
}
.chart {
  height: 80vh;
}
.chart-title {
  text-align: center;
  margin-bottom: 8px;
}
.chart-subtitle {
  text-align: center;
  margin-bottom: 30px;
  color: #969696;
}
.slider-container {
  margin-bottom: 18px;
}
.slider-container .label,
.slider-container p {
  width: 100%;
  text-align: left;
  margin: 8px 0px;
}
