#home-section {
  margin: 100px 0px;
}
#parameter-list {
  width: 100%;
  max-width: 800px;
}
.chart-item {
  width: 100%;
  margin: 100px 18px;
}
.chart-title {
  text-align: center;
  margin-bottom: 8px;
}
.chart-subtitle {
  text-align: center;
  margin-bottom: 30px;
  color: #969696;
}
.slider-container {
  margin-bottom: 18px;
}
.slider-container .label,
.slider-container p {
  width: 100%;
  text-align: left;
  margin: 8px 0px;
}
