@import "../../shared/variables.less";


#home-section{
    margin: @margin-large 0px;
}


#parameter-list{
    width: 100%;
    max-width: @max-w-2;
}

.chart-item{
    width: 100%;
    margin: @margin-large @margin-small;
}

.chart-title{
    text-align: center;
    margin-bottom: @margin;
}

.chart-title{
    text-align: center;
    margin-bottom: @margin;
}