@import "../../shared/variables.less";


#home-section{
    margin: @margin-large 0px;
}


#parameter-list{
    width: 100%;
    max-width: @max-w-2;
}

.chart-item{
    width: 100%;
    margin: @margin-large @margin-small;
}

.chart-title{
    text-align: center;
    margin-bottom: @margin-smaller;
}

.chart-subtitle{
    text-align: center;
    margin-bottom: @margin;
    color: @color-lighter;
}
.slider-container{
    margin-bottom: @margin-small;
}
.slider-container .label,
.slider-container p{
  width: 100%;
  text-align: left;
  margin: @margin-smaller 0px;
}

