<section id="home-section" class="acc">
    <h2>Momentane</h2>
    <h1>Wetterabhängige Abschwächungen</h1>

    <ul id="important-infos-list">
        <li class="important-info-item">
            <h2> Current attenuation
            </h2>
            <p>The total current attenuation with the set settings (transmission frequency, elevation angle, cloud
                types and
                weather parameters)</p>
            <h1>{{totalAttenuation.dataPoints && totalAttenuation.dataPoints.length>0? totalAttenuation.dataPoints[totalAttenuation.dataPoints.length-1].y:0}} dB</h1>
        </li>
        <li class="important-info-item">
            <h2> Wind Speed
            </h2>
            <p>Status of the current wind speed and information on whether the antenna should be moved to the safety
                position.</p>
            <h1>Is Critical: {{isCritical?'Yes':'No'}}</h1>
        </li>
    </ul>

    <button class="btn-std show-large-graphs" (click)="showLargeGraphs=!showLargeGraphs">
        <h2>{{showLargeGraphs?'Show small graphs':'Show large graphs'}}</h2>
    </button>

    <ul id="graph-list" *ngIf="graphsData.length>0">

        <li [ngClass]="showLargeGraphs?'chart-item large':'chart-item'">
            <h2 class="chart-title">Totale Dämpfung</h2>
            <h3 class="chart-subtitle">Frequenz: {{getAntennaParams().frequency}} GHz, Elevation:
                {{getAntennaParams().elevation}}°</h3>
            <canvasjs-chart class="chart" [options]="getChartOptions(-1,'Date','Attenuation in dB')"></canvasjs-chart>
        </li>

        <li [ngClass]="showLargeGraphs?'chart-item large':'chart-item'">
            <h2 class="chart-title">{{getAttenuationParameters()[0].title}}</h2>
            <h3 class="chart-subtitle">Frequenz: {{getAntennaParams().frequency}} GHz, Elevation:
                {{getAntennaParams().elevation}}°</h3>
            <canvasjs-chart [options]="getChartOptions(0,'Date','Attenuation in dB/km')"></canvasjs-chart>
        </li>
        <li [ngClass]="showLargeGraphs?'chart-item large':'chart-item'">
            <h2 class="chart-title">{{getAttenuationParameters()[1].title}}</h2>
            <h3 class="chart-subtitle">Frequenz: 1-40 GHz, Elevation:
                {{getAntennaParams().elevation}}°, Polarisationswinkel: {{getAntennaParams().polarisationAngle}}°</h3>
            <canvasjs-chart [options]="getChartOptions(1,'Date','Attenuation in dB/km')"></canvasjs-chart>
        </li>
        <li [ngClass]="showLargeGraphs?'chart-item large':'chart-item'">
            <h2 class="chart-title">{{getAttenuationParameters()[2].title}}</h2>
            <h3 class="chart-subtitle">Frequenz: {{getAntennaParams().frequency}} GHz, Elevation:
                {{getAntennaParams().elevation}}°</h3>
            <app-custom-radio-btns [list]="getCloudNames()"
                (selectedEvent)="cloudNameSelected($event)"></app-custom-radio-btns>
            <canvasjs-chart [options]="getChartOptions(2,'Date','Attenuation in dB/km')"></canvasjs-chart>
        </li>
        <li [ngClass]="showLargeGraphs?'chart-item large':'chart-item'">
            <h2 class="chart-title">{{getAttenuationParameters()[3].title}}</h2>
            <h3 class="chart-subtitle">Frequenz: {{getAntennaParams().frequency}} GHz, Elevation:
                {{getAntennaParams().elevation}}°</h3>

            <div class="slider-container">
                <p class="label">Parameter p zur berechnung der Fadetiefe A(p) die in p% der Zeit überschritten wird</p>
                <app-custom-slider class="custom-slider" (changedEvent)="pPercentageUpdated($event)"
                    [value]="pPercentageOfTime" [min]="0.01" [max]="50.01"></app-custom-slider>
                <p>p: {{pPercentageOfTime}} %.</p>
            </div>

            <canvasjs-chart [options]="getChartOptions(3,'Date','Attenuation in dB')"></canvasjs-chart>
        </li>
    </ul>
</section>